# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Production build
dist/
client/dist/

# Local Environment & Secrets
.env
server/.env
*.env

# SQLite Database binaries & journals
*.db
*.db-journal
*.db-shm
*.db-wal
server/db/thone.db
server/db/*.db

# Logs & OS cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db
